/node_modules
/public/hot
/public/storage
/storage/*.key
/public/frontend/images
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.png
*.jpg
database/migrations/2019_06_27_234121_create_tbl_admin.php
database/migrations/2014_10_12_000000_create_users_table.php
